{% extends "base.html" %}

{% block head_title %}Sign in{% endblock %}

{% block content %}
    <h1 class="text-center">Sign In</h1>
    <div class="card p-5">
        <div class="row">
            <div class="col-md-8 mx-auto d-flex flex-column justify-content-center order-md-1">
                <button class="btn btn-primary mb-2">
                    <a href="{% url 'social:begin' 'facebook' %}" class="text-white">Login with Facebook</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}
