{% extends "base.html" %}

{% block head_title %}Profile{% endblock %}

{% block content %}
    <h1 class="text-center">Profile</h1>
    <div class="card p-5">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <h4 class="text-center"> Welcome {{ user.username }} </h4>
            </div>
            <div class="col-sm-12 mb-3">
                <h5 class="text-center"> Your reviews: </h5>
            </div>
            <ul class="list-group col-12">
                {% for review in reviews %}
                    <li class="list-group-item col-8 mx-auto">
                        <a href="{% url "movie-review" movie_pk=review.movie.pk %}"><h2>{{ review.movie.name }}</h2>
                            <small>{{ review.movie.producer }}</small></a>
                        <h4>Score: {{ review.score }}</h4>
                        {% if not review.text is None %}
                            <p>Text review:
                                {{ review.text }}
                            </p>
                        {% endif %}
                        <a href="{% url 'review-delete' pk=review.pk %}">Delete</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="col-sm-12 mb-3">
                <h5 class="text-center"> Add review: </h5>
            </div>
            <div class="col-sm-12 mb-3 justify-content-center d-flex">
                {% include 'movie_reviews/movie_reviews_form.html' with form=form_review %}
            </div>
        </div>
    </div>


{% endblock %}